roles.txt
frontend-legacy
.env
instance.xml
__pycache__
system/__pycache__
supervisord.log
supervisord.pid
pyhold.xml
cookies.xml
uploads/*
uploads/
__pycache__/
system/__pycache__/
test.py
testing.xml
instance*.xml
.DS_Store
